
  <mat-sidenav-container class="example-container" autosize>
	<mat-sidenav #sidenav class="sidenav" mode="side" opened="true" >
		<mat-nav-list>
			<mat-toolbar >
                <span class="pr-10 pl-10">My Application</span>
              </mat-toolbar>
			  <mat-toolbar-row class="bg-violet-200 justify-center text-3xl	font-bold	">
				<span>BackOffice</span>
			</mat-toolbar-row>
			<mat-list-item class="text-center bg-violet-500 hover:bg-violet-600 active:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-300 ">
				<span class="full-width text-white text-2xl" routerLink="/backoffice/nvetude" >Niveau d'étude</span>
			</mat-list-item>
            <mat-list-item class="text-center bg-violet-500 hover:bg-violet-600 active:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-300">
				<span class="full-width text-white text-2xl" routerLink="/backoffice/thematique">Thématique</span>
			</mat-list-item>
            <mat-list-item class="text-center bg-violet-500 hover:bg-violet-600 active:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-300">
				<span class="full-width text-white text-2xl" routerLink="/backoffice/competence">Compétence</span>
			</mat-list-item>
            <mat-list-item class="text-center bg-violet-500 hover:bg-violet-600 active:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-300">
				<span class="full-width text-white text-2xl" routerLink="/backoffice/souscompetence">Sous Compétence</span>
			</mat-list-item>
		</mat-nav-list>
    <mat-nav-list>
</mat-nav-list>
	</mat-sidenav>
	<router-outlet></router-outlet>